// Responsive
desktop-base-width     = 1100px
rupture.desktop-cutoff = $tablet = 1180px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

// Images path
$img($image)
    url('../img/layout/' + $image)

// Colors
$amarelo = #EFE943
$azul    = #155070

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic,800,800italic')
opensans($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700
    if $weight == black
        font-weight 800
