.clientes
    .clientes-lista
        font-size 0
        clearfix()
        .cliente
            display inline-block
            width 23.636%
            opensans 16 bold italic
            color #000
            vertical-align top
            margin-right 1.8181%
            margin-bottom 3%
            &:nth-child(4n)
                margin-right 0
            +mobile()
                font-size 14px
                width 49.09095%
                &:nth-child(4n)
                    margin-right 1.8181%
                &:nth-child(2n)
                    margin-right 0
            .imagem
                width 100%
                height auto
                overflow hidden
                border 1px solid $azul
                border-radius 10px
                img
                    display block
                    width 100%
                    height auto
            span
                display block
                width 100%
                text-align center
                margin-top 8px
