.confeccao
    .content-body
        background $amarelo
        .texto
            text-align center
            width 70%
            margin 0 auto
            color $azul
            *:first-child
                margin-top 0
            h2
                opensans 24 normal italic
            p
                opensans 16 normal italic
                line-height 1.4
            +below($tablet)
                width 100%
            +mobile()
                h2
                    font-size 22px
                p
                    font-size 15px
        .imagens
            font-size 0
            width 960px
            margin 0 auto
            margin-top 55px
            text-align center
            +below($tablet)
                width 100%
                margin-top 35px
            .imagem
                display inline-block
                text-decoration none
                width 18.75%
                opensans 14 normal italic
                color #000
                transition color .3s
                &:hover
                    color $azul
                vertical-align top
                margin-right 1.5625%
                margin-bottom 3%
                &:nth-child(5n)
                    margin-right 0
                +mobile()
                    width 23.828%
                    &:nth-child(5n)
                        margin-right 1.5625%
                    &:nth-child(4n)
                        margin-right 0
                    margin-bottom 1.5625%
                img
                    display block
                    width 100%
                    height auto
                span
                    display block
                    width 100%
                    text-align center
                    margin-top 8px
                    +mobile()
                        display none
