.contato
    .content-body
        position relative
        clearfix()
        +mobile()
            padding-bottom 0
    .contato-info
        width 40%
        float left
        +mobile()
            width 100%
        .telefone
            margin 0 0 .5em
            opensans 24 bold
            color $azul
        .endereco
            opensans 14
            margin 1em 0
            p
                margin 0
        a
            opensans 16 bold italic
            color $azul
            text-decoration none
            padding-bottom 1px
            border-bottom 1px solid transparent
            transition border .3s
            +mobile()
                font-size 14px
            &:hover
                border-color $azul
        form
            margin-top 50px
            +below($tablet)
                margin-top 25px
            h2
                opensans 24 black italic
                color darken($amarelo, 12)
                margin-bottom .5em
            ::-webkit-input-placeholder
               color #000
            :-moz-placeholder
               color #000
            ::-moz-placeholder
               color #000
            :-ms-input-placeholder
               color #000
            input
            textarea
                width 100%
                border 1px solid $amarelo
                outline 0
                resize none
                opensans 16 normal italic
                margin-bottom 3px
                display block
                padding 5px 15px
                border-radius 15px
            textarea
                height 200px
            input[type='submit']
                width 200px
                margin 0 auto
                border 0
                background $amarelo
                font-size 20px
                transition background .3s, color .3s
                &:hover
                    background $azul
                    color #fff
            #form-contato-response
                display none
                width 100%
                padding 10px
                border 1px solid rgba($azul, .7)
                border-radius 15px
                margin 5px 0
                text-align center
                opensans 13 normal italic
                color $azul
    .mapa
        position absolute
        top 0
        right 0
        width 50%
        height 100%
        iframe
            position absolute
            width 100%
            height 100%
            top 0
            left 0
        +mobile()
            position relative
            margin-top 40px
            height 250px
            width 100%
