.empresa
    .empresa-texto
        width 47.5%
        float left
        &:last-child
            float right
        +mobile()
            width 100%
            &:last-child
                margin-top 20px
        h2
            color darken($amarelo, 12)
            opensans 30 black italic
            &:first-child
                margin-top 0
            +tablet()
                font-size 32px
            +mobile()
                font-size 28px
        p
            color #000
            opensans 18 normal
            line-height 1.4
            +tablet()
                font-size 16px
            +mobile()
                font-size 15px
        ul
            opensans 18 normal
            padding 0
            margin 1em 0 1.3em
            +tablet()
                font-size 16px
            +mobile()
                font-size 15px
            li
                margin 4px 0
                list-style-type none
                position relative
                padding-left 1em
                &:before
                    content ""
                    position absolute
                    top .5em
                    left 0
                    width 5px
                    height 5px
                    background #000
                    border-radius 100%

.empresa-categorias
    width 100%
    background #000
    padding 40px 0
    text-align center
    a
        position relative
        display inline-block
        color #fff
        opensans 24 normal italic
        text-decoration none
        transition color .3s
        padding-right 20px
        &:hover
            color $amarelo
        &:after
            content ""
            position absolute
            top .5em
            right 5px
            width 5px
            height 5px
            background #fff !important
            border-radius 100%
        &:last-child:after
            display none
    +mobile()
        padding 25px 0
        a
            font-size 20px