.home
    .banners
        background $img('bg-textura.png')
        padding 65px 0 85px
        position relative
        +tablet()
            padding 45px 0 60px
        +mobile()
            padding 30px 0
        .cycle-pager
            display block
            width 100%
            height 12px
            position absolute
            left 0
            bottom 25px
            text-align center
            z-index 101
            +mobile()
                display none
            a
                display inline-block
                width 12px
                height 12px
                border-radius 100%
                text-indent -9999px
                background transparent
                border 3px solid $azul
                margin 0 3px
                transition background .3s
                &.cycle-pager-active
                    background $azul
        .slide
            width 100%
            .center
                clearfix()
            .info
                width 45%
                float left
                padding-top 50px
                .titulo
                    p
                        margin 0
                        color $azul
                        opensans 40 normal italic
                        line-height 1.1
                        strong
                            opensans 60 bold italic
                .texto
                    margin 1em 0 0
                    opensans 18 normal italic
                    color #000
                a
                    display block
                    background $amarelo
                    color #000
                    opensans 24 normal italic
                    padding 10px
                    text-align center
                    border-radius 25px
                    margin-top 1.2em
                    text-decoration none
                    transition background .3s, color .3s
                    &:hover
                        background $azul
                        color #fff
                +tablet()
                    padding-top 0
                    .titulo
                        p
                            font-size 32px
                            strong
                                font-size 40px
                    .texto
                        font-size 16px
                    a
                        font-size 18px
                +mobile()
                    padding-top 0
                    width 100%
                    .titulo
                        p
                            font-size 20px
                            strong
                                font-size 24px
                    .texto
                    a
                        font-size 15px
            .imagem
                float right
                width 45.8%
                padding 12px
                box-shadow 0 0 5px rgba(#000, .3)
                background #fff
                img
                    display block
                    width 100%
                    height auto
                +mobile()
                    width 100%
                    margin-bottom 20px
    .chamadas
        background #000
        padding 45px 0
        clearfix()
        .chamada
            width 28.7272%
            margin-right 6.81%
            float left
            text-align center
            h2
                opensans 30 bold italic
                color $amarelo
                margin .5em 0
            p
                margin 0
                opensans 18
                color #fff
            &:last-child
                margin-right 0
        +tablet()
            .chamada
                h2
                    font-size 24px
                p
                    font-size 16px
                img
                    height 90px
                    width auto
        +mobile()
            padding 30px 0
            .chamada
                width 100%
                margin 0 0 30px
                h2
                    font-size 22px
                    br
                        display none
                p
                    font-size 16px
                img
                    height 70px
                    width auto
                &:last-child
                    margin-bottom 0
    .factual
        background $amarelo
        padding 45px 0
        text-align center
        p
            width 90%
            margin 0 auto
            opensans 24 normal italic
            line-height 1.4
            color $azul
            +below($tablet)
                width 100%
        img
            margin-top 45px
        +tablet()
            p
                font-size 22px
            img
                width 180px
                height auto
        +mobile()
            padding 25px 0
            p
                font-size 20px
            img
                margin-top 25px
                width 150px
                height auto