.uniformes
    background #000
    .uniformes-categorias
        width 22%
        float left
        h3
            margin 0 0 .5em
            color $amarelo
            opensans 30 bold italic
            +tablet()
                font-size 24px
        a
            display block
            width 100%
            opensans 18 normal italic
            padding 10px 20px
            border-radius 10px
            text-decoration none
            color $amarelo
            transition color .3s, background .3s
            margin-bottom 5px
            &:hover
            &.active
                color #000
                background $amarelo
        +mobile()
            width 100%
            font-size 0
            margin-bottom 15px
            h3
                display none
            a
                display inline-block
                width auto
                margin-right 5px
                font-size 15px
                background rgba(#fff, .1)
    .uniformes-lista
        clearfix()
        width 75%
        float right
        font-size 0
        a
            display inline-block
            vertical-align top
            width 32.6667%
            overflow hidden
            border-radius 10px
            margin-right 1%
            margin-bottom 1%
            text-decoration none
            border 3px solid transparent
            transition border .3s
            &:hover
                border-color $amarelo
            &:nth-child(3n)
                margin-right 0
            img
                width 100%
                height auto
            span
                width 100%
                display block
                color #fff
                opensans 16 normal italic
                padding 10px
        +mobile()
            width 100%
            a
                width 49.5%
                &:nth-child(3n)
                    margin-right 1%
                &:nth-child(2n)
                    margin-right 0
                span
                    font-size 15px
    .uniformes-detalhe
        width 75%
        float right
        +mobile()
            width 100%
        .imagem
            width 48.48%
            float left
            img
                width 100%
                height auto
                display block
            +below($tablet)
                width 100%
                margin-bottom 10px
                img
                    width auto
                    max-width 100%
        .info
            width 47%
            float right
            color #fff
            +below($tablet)
                width 100%
            h1
                opensans 24 normal italic
                +mobile()
                    font-size 20px
            .descricao
                p
                    opensans 16 normal italic
                    +mobile()
                        font-size 15px
                ul
                    opensans 16 normal italic
                    padding 0
                    margin 1em 0 1.3em
                    +mobile()
                        font-size 15px
                    li
                        margin 4px 0
                        list-style-type none
                        position relative
                        padding-left 1em
                        &:before
                            content ""
                            position absolute
                            top .5em
                            left 0
                            width 5px
                            height 5px
                            background #fff
                            border-radius 100%
            form
                margin-top 45px
                max-width 400px
                h3
                    width 100%
                    margin 0 0 3px
                    background $amarelo
                    padding 12px 25px
                    opensans 20 normal italic
                    color #000
                    border-radius 25px
                    +mobile()
                        font-size 18px
                ::-webkit-input-placeholder
                   color #fff
                :-moz-placeholder
                   color #fff
                ::-moz-placeholder
                   color #fff
                :-ms-input-placeholder
                   color #fff
                input
                textarea
                    width 100%
                    border 1px solid $amarelo
                    outline 0
                    resize none
                    opensans 16 normal italic
                    margin-bottom 3px
                    display block
                    padding 5px 15px
                    border-radius 15px
                    background transparent
                textarea
                    height 200px
                input[type='submit']
                    width 200px
                    margin 0 auto
                    border 0
                    background $amarelo
                    font-size 20px
                    transition background .3s, color .3s
                    color #000
                    &:hover
                        background $azul
                        color #fff
                #form-contato-response
                    display none
                    width 100%
                    padding 10px
                    border 1px solid rgba(#fff, .7)
                    border-radius 15px
                    margin 5px 0
                    text-align center
                    opensans 13 normal italic
                    color #fff