.not-found
    background #000
    text-align center
    padding 20vh 0
    +below($tablet)
        padding 10% 0
    h1
        display inline-block
        padding 16px
        border 2px solid $amarelo
        border-radius 4px
        opensans 14 bold
        text-transform uppercase
        color $amarelo
        margin 0

.content
    .content-title
        width 100%
        background $img('bg-textura.png')
        padding 32px 0
        h1
            margin 0
            opensans 40 normal italic
            color #000
            padding-left 230px
        +tablet()
            padding 20px 0
            h1
                font-size 32px
                padding 0
        +mobile()
            padding 10px 0
            h1
                font-size 26px
                padding 0
    .content-body
        width 100%
        padding 40px 0
        .center
            clearfix()
        +below($tablet)
            padding 20px 0

.fancybox-overlay
    background rgba($azul, .9) !important
.fancybox-title
    text-align center
    font-size 14px
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style italic
