footer
    width 100%
    background #000
    border-top 1px solid $amarelo
    padding 25px 0
    +mobile()
        padding 20px 0
    .center
        clearfix()
    .col
        float left
        color #fff
        margin-right 40px
        +mobile()
            display none
            &.contato
                display block
                width 100%
                text-align center
                margin-bottom 20px
                a
                    display none
                p
                    margin-top 0
        p
            opensans 14
        .endereco p
            margin 0
        a
            display block
            color #fff
            transition color .3s
            text-decoration none
            opensans 14
            text-transform uppercase
            margin-bottom 3px
            &:hover
                color $amarelo
            &.cat
                text-transform none
    .copyright
        float right
        text-align right
        color #fff
        opensans 11 normal italic
        +below($tablet)
            width 100%
            text-align center
        +tablet()
            margin-top 25px
            text-align left
            p br
                display none
            a
                display inline !important
        p
            margin-top 0
            &:last-child
                margin-bottom 0
        a
            color #fff
            text-decoration none
            transition color .3s
            &:hover
                color $amarelo
            &:last-child
                display block
