header
    position relative
    width 100%
    height 105px
    background $amarelo
    box-shadow 0 0 30px rgba(#000, .5)
    z-index 101
    +mobile()
        height 85px
        box-shadow 0 0 20px rgba(#000, .4)
    a.logo
        display block
        position absolute
        top 15px
        left 0
        width 180px
        height 180px
        background $img('factual.png') no-repeat center
        text-indent -9999px
        +below($tablet)
            float left
            height 100%
            width 140px
            top 0
            position relative
            background $img('icone-factual-texto.png') no-repeat center left
            background-size auto 50%
        +mobile()
            background-size auto 55%
            width 130px
    .center
        clearfix()
        height 100%
    nav#nav-desktop
        height 100%
        float right
        clearfix()
        +below($mobile)
            display none
        a
            display block
            float left
            height 100%
            opensans 18 normal italic
            color #000
            text-decoration none
            text-transform uppercase
            padding-top 40px
            margin-left 32px
            position relative
            +tablet()
                font-size 16px
                margin-left 14px
                &:first-child
                    display none
            &:after
                position absolute
                content ""
                width 8px
                height 8px
                background $azul
                border-radius 100%
                left 50%
                bottom 25px
                margin-left -4px
                opacity 0
                transition opacity .3s
            &:hover
            &.active
                &:after
                    opacity 1
    nav#nav-mobile
        +above($mobile)
            display none !important
        display none
        position absolute
        top 85px
        width 100%
        background $azul
        padding 12px 0
        text-align center
        z-index 102
        box-shadow 0 2px 5px rgba(#000, .5)
        a
            display block
            color $amarelo
            opensans 16 bold italic
            text-decoration none
            text-transform uppercase
            padding 6px 0
            &:first-child
                display none
            &.active
                color #fff
    #mobile-toggle
        +above($mobile)
            display none
        display block
        background-color transparent
        border 0
        float right
        position relative
        height 55px
        width 28px
        outline 0
        padding 0
        top 15px
        margin-left 10%
        .lines
            display block
            width 100%
            height 4px
            background $azul
            position relative
            transition .3s ease
            border-radius 4px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                border-radius 4px
                background $azul
                transition .3s ease
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)