.newsletter
    width 100%
    background $azul
    padding 45px 0 35px
    +mobile()
        padding 25px 0
    .center
        clearfix()
    #form-newsletter
        width 45%
        float left
        clearfix()
        p
            margin-top 0
            color #fff
            opensans 16 bold italic
        ::-webkit-input-placeholder
           color #000
        :-moz-placeholder
           color #000
        ::-moz-placeholder
           color #000
        :-ms-input-placeholder
           color #000
        input[type='email']
            width calc("100% - 60px")
            float left
            background $amarelo
            border 0
            outline 0
            border-radius 25px
            padding 0 25px
            height 50px
            line-height 50px
            color #000
            opensans 20 normal italic
        input[type='submit']
            float left
            width 50px
            padding 0
            background #000
            border-radius 100%
            border 0
            color $amarelo
            opensans 16 normal
            line-height 50px
            margin-left 10px
            transition color .3s, background .3s
            outline 0
            &:hover
                background $amarelo
                color $azul
        .response-wrapper
            display block
            float left
            clear both
            width calc('100% - 60px')
            height 24px
            margin-top 6px
            color #fff
            text-align center
            opensans 14 normal italic
            span
                padding-bottom 3px
                border-bottom 1px solid $amarelo
        +mobile()
            width 100%
            p
                font-size 14px
                text-align center
            input[type='email']
                line-height 40px
                height 40px
                width calc('100% - 50px')
                font-size 18px
                padding 0 20px
                border-radius 20px
            input[type='submit']
                height 40px
                width 40px
                line-height 40px
                font-size 16px
    .newsletter-contato
        width 45%
        float right
        padding-top 32px
        clearfix()
        +tablet()
            width 50%
        p
            opensans 20 normal italic
            color #fff
            float left
            margin 0
            a
                display block
                color #fff
                transition color .3s
                text-decoration none
                margin-top 4px
                &:hover
                    color $amarelo
        .facebook
            float left
            display block
            width 40px
            height 40px
            text-indent -9999px
            background $img('icone-facebook.png') no-repeat center top
            margin-left 20px
            margin-top 12px
            &:hover
                background-position center bottom
        +tablet()
            p
                font-size 17px
            .facebook
                margin-top 6px
        +mobile()
            width 100%
            text-align center
            padding 0
            margin-top 15px
            p
                font-size 15px
                width 100%
                text-align center
            .facebook
                width 100%
                margin 15px 0 0
